<div class="row">
    <div class="p-0 col">
        <h1 class="head-jr">Find the <span> Right Journal</span>
            to Publish Your Paper</h1>
            <p class="para-jr">Ensure maximum citations by submitting your paper to the right journal. Comparing your paper’s concepts against millions of past publications and publication trends.</p>
    <div class="row">
        <div class="p-0 col-auto">
            <button class="btnCurv unfilled">View Sample Report</button>
        </div>
        <div class="p-0 col-auto mx-4">
            <button class="btnCurv filled">Launch Journal Finder</button>
        </div>
    </div>
        </div>
    <div class="p-0 col-auto">
        <img src="../../../assets/Frame 3.png" height="415" alt="">
    </div>
</div>
