.head-jr{
    width: 522px;
    font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 140%;
color: #212529;
span{
    color: #9E45AD;
}
}
.para-jr{
    width: 675px;
    font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 170%;
margin: 20px 0px 38px;
}
