<h2 class="why-head">Why Choose Trinka Journal Finder</h2>
<div class="row align-items-center justify-content-center">
    <div class="col-4 why-box p-0">
        <img height="215" src="../../../assets/rafiki.png" alt="">
        <h4>Boost Citations</h4>
        <p>Journal Finder uses latest AI technologies that understand the concepts discussed in your paper and compare those with journal publications to recommend the right journal to you.</p>
    </div>
    <div class="col-4 why-box p-0">
        <img height="215" src="../../../assets/amico.png" alt="">
        <h4>Reach the Right Audience</h4>
        <p>You can refine your search by using filters such as subject, location, open access, and impact factor in Trinka's Journal Finder to quickly find the right audience for your article.</p>
    </div>
    <div class="col-4 why-box p-0">
        <img height="215" src="../../../assets/amico-1.png" alt="">
        <h4>Save Research Time</h4>
        <p>Trinka's Journal Finder analyzes your paper's concepts and compares them to relevant journal publications to recommend the right journal for you in minutes.</p>
    </div>
</div>