<app-nav></app-nav>
<div class="main-container">
  <app-content></app-content>
</div>
<div class="row assets">
  <div class="p-0 col-3 d-flex justify-content-center align-items-center">
    <div class="row">
      <div class="col-auto p-0">
        <img src="../assets/search (1) 1.png" alt="">
      </div>
      <div class="col p-0 mx-3 asset-text">170+ Million abstracts</div>
    </div>
  </div>
  <div class="p-0 col-3 d-flex justify-content-center align-items-center">
    <div class="row">
      <div class="col-auto p-0">
        <img src="../assets/paper 1.png" alt="">
      </div>
      <div class="col p-0 mx-3 asset-text">Million Open-Access full-text papers</div>
    </div>
  </div>
  <div class="p-0 col-3 d-flex justify-content-center align-items-center">
    <div class="row">
      <div class="col-auto p-0">
        <img src="../assets/server 1.png" alt="">
      </div>
      <div class="col p-0 mx-3 asset-text">Latest database</div>
    </div>
  </div>
  <div class="p-0 col-3 d-flex justify-content-center align-items-center">
    <div class="row">
      <div class="col-auto p-0">
        <img src="../assets/brain (1) 1.png" alt="">
      </div>
      <div class="col p-0 mx-3 asset-text">AI Driven Results</div>
    </div>
  </div>
</div>
<div class="main-container-1">
 <app-why></app-why>
</div>