.main-container{
    margin: 50px 40px 0px;
}
.main-container-1{
    margin: 50px 40px 104px;
}
.assets{
    background-color: #FDF9FF;
    padding: 32px 40px;
    img{
        width: 32px;
    }
    .asset-text{
        font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
color: #000000;
    }
}