
   a {
    text-decoration: none;
   }
   li {
    list-style: none;
   }
   .navbar-main {
    padding: 18px 40px;
    background-color: #fff;
    color: #1D1D1D;
   }
   .nav-links a {
    color: #1D1D1D;
   }
   .logo {
    font-size: 32px;
   }
   .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
   }
   .menu li:hover {
    border-bottom: 2px solid #7A28A0;
    cursor: pointer;
   }
   .menu li {
    padding: 5px 14px;
   }
 
   .nav-links{
    margin-bottom: 0px;
   }