
<nav class="navbar-main">
    <div class="row">
        <div class="p-0 col-12 d-flex justify-content-end align-items-center">Eng</div>
        <div class="p-0 col-9">
            <div class="row">
                <div class="p-0 col-auto"><div class="logo">
                    <img src="../../../assets/Trinka_Logo 2.svg" alt="">
                </div></div>
                <div class="p-0 col d-flex justify-content-start align-items-end">
                    <ul class="nav-links">
                        <div class="menu">
                          <li><a href="/">Apps</a></li>
                          <li><a href="/">Features</a></li>
                          <li>
                            <a href="/">Examples</a>
                          </li>
                          <li><a href="/">Pricing</a></li>
                          <li><a href="/">Enterprise</a></li>
                          <li><a href="/">Try a demo</a></li>
                        </div>
                      </ul>
                </div>
            </div>
        </div>
              <div class="p-0 col-3 d-flex justify-content-end align-items-end">
                <button class="btn filled mx-3">Register for free</button>
                <button class="btn unfilled">Login</button>
              </div>  
       
    </div>
    
  </nav>